@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  margin: 0px;
  padding: 0px;
}
/*shared styles*/
.nav-conteiner {
  max-width: 1140px;
  margin: 30px auto;
}

/*nav styles*/
.nav-link {
  text-decoration: none;
  color: rgb(37, 36, 50);
  font-size: 16px;
  font-size: 700;
}
.nav-items {
  display: flex;
  gap: 48px;
}
.nav-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item a {
  color: #8987a1;
}
