@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f5f8ff;
}
/*shared styles*/
.nav-conteiner {
  max-width: 80%;
  margin: 30px auto;
}
.display-flex {
  display: flex;
}
.orengefont {
  color: #e95a08;
}
.gray {
  color: #8987a1;
}
.center-align {
  text-align: center;
}

/*nav styles*/
.nav-link {
  text-decoration: none;
  color: rgb(37, 36, 50);
  font-size: 16px;
  font-size: 700;
}
.nav-items {
  display: flex;
  gap: 48px;
}
.nav-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item a {
  color: #8987a1;
}
/*banner style*/
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px auto;
  align-items: end;
  max-width: 80%;
}
.title-of-2nd-box {
  font-size: 65px;
  font-weight: bold;
}

.second-box-description {
  font-size: 22px;
  margin-top: 0px;
}

/*responsive banner and nav for phone*/
@media screen and (max-width: 576px) {
  .banner {
    flex-direction: column-reverse;
    width: calc(100% - 32px);
  }
  .banner img {
    width: 100%;
    margin-top: 28px;
  }
  .hide {
    display: none;
  }
  .nav-conteiner {
    margin: 0px none;
    width: calc(100% - 32px);
  }
  .second-box-items {
    margin: 28px 16px;
  }

  .title-of-2nd-box {
    font-size: 24px;
    font-weight: 700;
  }
}

/*plant style section*/

.plant-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 212px;
}
.plant-section {
  max-width: 80%;
  margin: 0px auto;
}
.plant-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 16px;
}
.plant-subtitle {
  font-size: 22px;
  color: #8987a1;
}
.plant-title-content {
  text-align: center;
  margin-bottom: 50px;
}
.card-title {
  font-size: 22px;
  font-weight: 500;
  color: #111111;
  margin-bottom: 18px;
}
.card-price {
  font-size: 22px;
  font-weight: 700;
  color: #111111;
  margin-bottom: 30px;
}
.flower-card img {
  margin-bottom: 30px;
  width: 100%;
}
.flower-card button {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #e95a08;
  padding: 19px 80px;
  border: none;
}
.flower-card {
  gap: 20px;
  margin-bottom: 30px;
}
/*plant section respons*/
@media screen and (max-width: 576px) {
  .plant-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .plant-title-content {
    width: 100%;
    margin-top: 65px;
  }
  .plant-card-container {
    margin: 28px 16px 0px;
  }
  .flower-card button {
    padding: 16px 16px;
  }
}
/*plant lover section*/

.plant-lover-conteiner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  margin-top: 212px;
  margin: 0px auto;
  max-width: 80%;
  position: relative;
}
.badget-img {
  position: absolute;
  width: 280px;
  height: 280px;
  top: -100px;
  left: 573px;
}
.flower-store-img {
  width: 100%;
  height: 597px;
}
.plant-lover-content {
  max-width: 80%;
  align-items: center;
  margin: 40px 0px 20px 40px;
}
.plant-lover-content h3 {
  font-size: 50px;
  font-weight: 700;
}
.plant-lover-texts {
  font-size: 32px;
  font-weight: 400px;
  color: #8987a1;
  margin-bottom: 20px;
}

/*plant lover section responsive*/
@media screen and (max-width: 576px) {
  .plant-lover-conteiner {
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
    max-width: 80%;
    max-height: 660px;
  }
  .badget-img {
    display: none;
  }
  .plant-lover-content {
    max-width: 100%;
    margin-left: 0%;
  }
  .plant-lover-texts {
    font-size: 14px;
    font-weight: 400px;
    margin-left: 0px;
  }
  .plant-lover-content h3 {
    font-size: 24px;
    font-weight: 700;
  }
}
